.col-md-offset-2.col-md-6
  .sign
    %h2 M'inscrire
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      .text_input
        = f.input :name, required: true, autofocus: true, :placeholder => "Pseudo", label: false
        = f.input :email, required: true, autofocus: true, :placeholder => "E-Mail ", label: false
        = f.input :password, required: true, placeholder: "Mot de passe", hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label: false
        = f.input :password_confirmation, required: true, :placeholder => "Confirmation du mot de passe", label: false
      .submit_button
        = f.button :submit, "Sign up", class: "animated"
      %a.forgot{"data-target" => "#ModalSignIn", "data-toggle" => "modal", :type => "button", "aria-hidden" => "true", "aria-label" => "Close", "data-dismiss" => "modal"} Déjà un compte ?

    / = render "devise/shared/links"
