= simple_form_for @recipe, html: {multipart: true} do |f|
  - if @recipe.errors.any?
    #errors
      %p
        = @recipe.errors.count
        prohibited this recipe from being saved:
      %ul
        - @recipe.errors.full_messages.each do |message|
          %li= message
  .row
    .panel-body
      = f.input :title, input_html: {class: 'form-control'}
      = f.input :description, placeholder: 'Dites nous ce que vous aimez dans cette recette ? où l\'avez-vous découverte ? avec quoi l\'accompagnée vous ? ...', input_html: {class: 'form-control'}
      = f.input :image, input_html: {class: 'form-control'}
      = f.input :all_tags, label: 'Tags', input_html: {class: 'form-control'}
      / = f.input :all_tags, label: 'Tags', collection: Tag.all, input_html: {multiple: true, class: 'form-control'}

      .tag-wrapper


        /   %input{:type => "checkbox"}/
        /   %label{:for => ""} Végétalien
        /   %i.fa.fa-plus
        /   %i.fa.fa-check
        / .tag
        /   %input{:type => "checkbox"}/
        /   %label{:for => ""} Diet
        /   %i.fa.fa-plus
        /   %i.fa.fa-check
        / .tag
        /   %input{:type => "checkbox"}/
        /   %label{:for => ""} Healthy
        /   %i.fa.fa-plus
        /   %i.fa.fa-check
    .row
      .col-md-6
        %h3 Ingredients
        #ingredients
          = f.simple_fields_for :ingredients do |ingredient|
            = render 'ingredient_fields', f: ingredient
          .links
            = link_to_add_association 'Add Ingredient', f, :ingredients, class: "btn btn-default add-button"

      .col-md-6
        %h3 Directions
        #directions
          = f.simple_fields_for :directions do |direction|
            = render 'direction_fields', f: direction
          .links
            = link_to_add_association 'Add Step', f, :directions, class: "btn btn-default add-button"

      = f.button :submit, class: "btn btn-primary"

%script{:src => "https://use.fontawesome.com/6d77a862a3.js"}
