- @recipes.each_slice(4) do |recipes|
  .row.row_recipe_index
    - recipes.each do |recipe|
      .col-md-3
        .recipe
          .image_wrapper
            = link_to recipe_path(recipe) do
              = image_tag recipe.image.url(:medium)
              %h2= recipe.title
          .tags
            = tag_links(recipe.all_tags).html_safe
          .btn-group
            = link_to like_recipe_path(recipe), method: :put, class: "btn" do
              %span.glyphicon.glyphicon-heart-empty
              \#{recipe.get_upvotes.size}
            = link_to dislike_recipe_path(recipe), method: :put, class: "btn" do
              %span.glyphicon.glyphicon-thumbs-down
              \#{recipe.get_downvotes.size}

%script{:src => "https://use.fontawesome.com/6d77a862a3.js"}
