.main_content
  #recipe_top.row
    .col-md-4
      = image_tag @recipe.image.url(:medium), class:"recipe_image"
    .col-md-8
      #recipe_info
        %h1= @recipe.title
        .tags
          = tag_links(@recipe.all_tags).html_safe
        %p.description= @recipe.description
        %p
          Publiée par
          = @recipe.user.name

  .row
    .col-md-6
      #ingredients
        %h2 Ingredients
        %ul
          - @recipe.ingredients.each do |ingredient|
            %li= ingredient.name

    .col-md-6
      #directions
        %h2 Directions
        %ul
          - @recipe.directions.each do |direction|
            %li= direction.step

  .row
    .col-md-12
      = link_to 'Toutes les recettes', recipes_path, class: "btn btn-default"
      - if user_signed_in?
        = link_to 'Modifier', edit_recipe_path(@recipe), class: "btn btn-default"
        = link_to 'Supprimer', recipe_path(@recipe), method: :delete, data: {confirm:"Cette recette sera  définitivement supprimée"}, class: "btn btn-default"

