%p#notice= notice
.container
  %h1.user_name= @user.name
#exTab1.container.tab
  %ul.nav.nav-pills
    %li.active
      %a{"data-toggle" => "tab", :href => "#published"}
        .value
          = @user.recipes.count
        recettes publiées
    %li
      %a{"data-toggle" => "tab", :href => "#favorites"}
        .value
          0
        recettes favorites
    %li
      %a{"data-toggle" => "tab", :href => "#likes"}
        .value
          = @user.votes.count
        mention j'aime
    %li
      %a{"data-toggle" => "tab", :href => "#done"}
        .value
          0
        recettes réalisées

  .tab-content.clearfix
    #published.tab-pane.active
      - @user.recipes.each_slice(4) do |recipes|
        .row
          - recipes.each do |recipe|
            .col-md-3
              .recipe
                .image_wrapper
                  = link_to recipe do
                    = image_tag recipe.image.url(:medium)
                %h2= link_to recipe.title, recipe
                .tags
                  = tag_links(recipe.all_tags).html_safe
                .btn-group
                  = link_to like_recipe_path(recipe), method: :put, class: "btn" do
                    %span.glyphicon.glyphicon-heart-empty
                    \#{recipe.get_upvotes.size}
                  = link_to dislike_recipe_path(recipe), method: :put, class: "btn" do
                    %span.glyphicon.glyphicon-thumbs-down
                    \#{recipe.get_downvotes.size}

    #favorites.tab-pane
      %h3 Recettes favorites
    #likes.tab-pane
      - @user.recipes.each_slice(4) do |recipes|
        .row
          - recipes.each do |recipe|
            .col-md-3
              .recipe
                .image_wrapper
                  = link_to recipe do
                    = image_tag recipe.image.url(:medium)
                %h2= link_to recipe.title, recipe
                .tags
                  = tag_links(recipe.all_tags).html_safe
                .btn-group
                  = link_to like_recipe_path(recipe), method: :put, class: "btn" do
                    %span.glyphicon.glyphicon-heart-empty
                    \#{recipe.get_upvotes.size}
                  = link_to dislike_recipe_path(recipe), method: :put, class: "btn" do
                    %span.glyphicon.glyphicon-thumbs-down
                    \#{recipe.get_downvotes.size}
    #done.tab-pane
      %h3 Recettes réalisées



= link_to 'Edit', edit_user_path(@user)
|
\#{link_to 'Back', users_path}



%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
%script{:src => "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}
