$red: #DB6161;
$white_grey: #F9F7F5;
$navbar_text : #F5E9E9;
$navbar_text_overflow : #E5D9D9;
$dark_grey : #484747;
$middle_grey2 : #C4C0C0;
$middle_grey1 : #EAEAEA;
$tag_background : #F8D5AA;
$tag_text : #963;
$tag_text_hover : #CA8643;
$standard_text : #777
