.col-md-offset-2.col-md-6
  .sign
    %h2 Me connecter
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .text_input
        = f.input :email, required: false, autofocus: true, :placeholder => "Email", label: false
        = f.input :password, required: false, label: false, :placeholder => "Mot de passe"
      .submit_button
        = f.button :submit, "Connexion", class: "animated"
      %a.forgot{"data-target" => "#ModalSignUp", "data-toggle" => "modal", :type => "button", "aria-hidden" => "true", "aria-label" => "Close", "data-dismiss" => "modal"} M'inscrire ?
    / = render "devise/shared/links"
