/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require tags
 *= require recipe
 *= require user_profile
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "utilities/colors";
@import "utilities/mixins";

* {
  margin: 0;
  padding: 0;
}

body {
  background: $white_grey;
}

.container{
    width: 1100px;
    margin: auto;
    padding: 0;
}

.main_content {
  padding: 0 0 50px 0;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  @include box-shadow;
  background: white;
  font-weight: bold;
}

/*-------NAVBAR--------*/
.navbar_container{
  width: 1100px;
  margin: auto;
}
.navbar {
  margin-bottom: 50px;
  @include box-shadow;
  border: none;

  .navbar-brand {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 25px;
    a {
      color: $navbar_text;
      &:hover{
        text-decoration: none;
        color: $navbar_text_overflow;
      }
    }
  }
}
.navbar-default .navbar-nav > li > a{
  color: $middle_grey2;
  &:hover{
    color:$navbar_text;
  }
}
.navbar-default{
  background-color : $dark_grey;
}

/* ------NAVBAR------ end*/

/*------- SIGN IN UP-----*/
.close{
  padding: 5px!important;
}
.signup-content{
  width: 100%!important;
  height: 100%;
  padding-bottom: 50px;
}
.signin-content{
  width: 95%!important;
  height: 100%;
  padding-bottom: 50px;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset; /*change background prefill form*/
}

h2 {
  color: #6D7781;
  font-family: "Sofia", cursive;
  font-size: 15px;
  font-weight: bold;
  font-size: 3.6em;
  text-align: center;
  margin-bottom: 20px;
}

a {
  color: #435160;
  text-decoration: none;
}

.sign {
  width: 350px;
  top: 10%;
  left: 50%;
}

.text_input{
  input[type="text"], input[type="password"], input[type="email"] {
    width: 350px;
    padding: 20px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #435160;
    outline: none;
    color: #6D7781;
    font-size: 16px;

    label {
      display: block;
      position: absolute;
      margin-right: 10px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: transparent;
      content: "";
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      border: 3px solid #435160;
    }
  }
}
.submit_button{
  input[type="submit"] {
    background: #D3CFCC;
    border: 0;
    width: 350px;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    color: #6D7781;

    &:hover {
      background: #484747;
      animation-name: shake;
      color: white ;
    }
  }

  .animated {
    animation-fill-mode: both;
    animation-duration: 1s;
  }

  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(10px);
    }
  }
  ::-webkit-input-placeholder {
    color: #435160;
    font-size: 12px;
  }
}


.forgot {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;

  &:hover {
    margin-top: 30px;
    display: block;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    color: #6D7781;
  }
}



