/*needed to import mixin box shadow*/
@import "application";

/*----SHOW ---*/

/* -----RECIPE INDEX -----*/
.row_recipe_index{
  width: 1100px;
  margin: auto;
}
/* -----RECIPE INDEX -----end*/
#recipe_top {
  margin-bottom: 50px;
  width: 70%;

}

#recipe_info, #ingredients, #directions {
  background: white;
  @include box-shadow;
  min-height: 360px;
  border-radius: 5px;
  padding: 2em 8%;
}

.recipe_image {
  max-width: 100%;
  border-radius: 5px;
  @include box-shadow;
}

#recipe_info {
  h1 {
    font-size: 36px;
    font-weight: normal;
    color: $red;
  }
  .description {
    @extend %standard_text
  }
}


#ingredients, #directions {
  margin-bottom: 50px;
  ul, ol {
    padding-left: 18px;
    li {
      padding: 1em 0;
      border-bottom: 1px solid $middle_grey1;
    }
  }
}

/*----RECIPE BLOCK----*/
.recipe {
  background: white;
  border-radius: 5px;
  margin-bottom: 40px;
  @include box-shadow;
  .image_wrapper {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }

  img {
    width: 100%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    &:hover {
      transform: scale(1.075);
    }
  }
  h2 {
    padding: 5px 5%;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    a {
      color: $tag_text;
      &:hover{
        text-decoration: none;
      }
    }
  }
}
/*----RECIPE BLOCK----end*/

/*---- NEW-EDIT RECIPE-----*/
.panel-body{
  padding: 0!important;
}
.form-inline {
  margin-top: 15px;
}
.form-input {
  width: 65% !important;
  float: left;
}
.form-button {
  float: left;
  width: 30% !important;
  margin-left: 5%;
}
.add-button {
  margin-top: 25px;
}

.modal-content{
  height: 600px;
  width: 160%;
  margin: auto;
}
