@import "utilities/colors";


/*------TAGS IN FORM-------*/
.tag-wrapper{
  background: white;
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 30px 40px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.4);
}

.tag{
  display: inline-block;
  position: relative;
  margin: 5px 10px 5px 0px;
}

.tag input[type=checkbox]{
  opacity: 0;
  position: absolute;
  z-index: 300;
  cursor: pointer;
  left: 0;
  width: 100%;
  height: 100%;

  &:hover + label{
    background: lighten(#305ae3, 7%);
  }
}

.tag label{
  padding: 7px 34px 6px 18px;
  position: relative;
  z-index: 200;
  color: white;
  display: block;
  border-radius: 16px;
  background: #305ae3;
  transition: all 0.08s ease-in;
}

.tag .fa{
  position: absolute;
  z-index: 250;
  right: 11px;
  top: 9px;
  color: white;
  line-height: 0.95;
}

.tag .fa-check{
  display: none;
  top: 8px;
  right: 10px;
  transition: all 0.08s ease-in;
}

/*Animation/Action*/

.tag input[type=checkbox]:checked + label{
  background: #f94877;
  animation: flick 0.08s;
}
.tag input[type=checkbox]:checked ~ .fa-plus{
  display: none;
}
.tag input[type=checkbox]:checked ~ .fa-check{
  animation: flick 0.08s;
  display: block;
}
@keyframes flick {
  0%   {}
  60%  {transform: scale(1.15);}
  100% {transform: scale(1);}
}

/*---- DISPLAY RECIPES/TAGS------*/
.tags {
  padding-left: 10px;

  a {
  display: inline-block;
  height: 21px;
  padding: 0 7px 0 7px;
  white-space: nowrap;
  position: relative;

  background-color: $tag_background;

  color: $tag_text;
  font: bold 11px/21px Arial, Tahoma, sans-serif;
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,0.4);

  border-radius: 2px 2px 2px 2px;
  box-shadow: inset 0 1px #FEE395, 0 1px 2px rgba(0,0,0,0.21);
  }

  a:hover{
  color: $tag_text_hover;
  text-decoration: none;
  }
}

