.user_name{
  text-align: center;
  font-size: 36px;
}


.tab {
  list-style-type: none;
  position: relative;
  width: 100%;
  margin: auto;
  line-height: 44px;
  text-align: left;

  ul {
    margin-left: 150px;
  }

  li {
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    display: table-cell;
    float: none;
    line-height: 14px;
    margin-right: -1px;
    padding: 14px 40px;

    a {
      box-shadow: none;
      font-weight: normal;
      box-sizing: border-box;
      display: block;
      color: #C1BCBC;
    }
    a:hover{
      text-decoration: none;
      color: black;
      background-color: none!important
    }
  }
}
.value {
        font-size: 24px;
        letter-spacing: -1px;
        line-height: 28px ;
        word-spacing: -2px ;
      }

/*TAB PANEL */

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

.nav-pills > li.active > a {
  color: black!important;
  background-color: white!important;
}


.tab-content {
  color : black;
  background-color: white;
  padding : 5px 15px;
  width: 850px!important;
  margin-left: 150px!important;
}

.nav-pills > li + li {
    margin-left: 0!important;
}





