!!!
%html
  %head
    %title Om nom nom...
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
%body
  %nav.navbar.navbar-default
    .navbar_container
      .navbar-brand= link_to "Om nom nom...", root_path
      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Nouvelle recette", new_recipe_path
          %li= link_to "Deconnexion", destroy_user_session_path, method: :delete
          %li= link_to "Mon profil", user_path(current_user)
      - else
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{"data-target" => "#ModalSignUp", "data-toggle" => "modal", :type => "button"} Inscription
            #ModalSignUp.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
              .modal-dialog{:role => "document"}
                .modal-content.signup-content
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                  .row
                    = render "devise/registrations/new"
          %li
            %a{"data-target" => "#ModalSignIn", "data-toggle" => "modal", :type => "button"} Connexion
            #ModalSignIn.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
              .modal-dialog{:role => "document"}
                .modal-content.signin-content
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                  .row
                    = render "devise/sessions/new"


  .container
    - flash.each do |name, msg|
      .alert
        = content_tag :div, msg
    = yield
